<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td>
      <homenav>
	<ul>
		<li>
  		<ul>
	      <li class="round"><%= link_to "Companies", companies_path %></li>
	      <li class="round"><%= link_to "New Company", newcompany_path %></li>
		</ul>
		</li>
		<li>
		<ul>
		  <li class="round"><%= link_to "Folders", folders_path %></li>
		  <li class="round"><%= link_to "New Folder", newfolder_path %></li>
		</ul>
		</li>
		<li>
		<ul>
	      <li class="round"><%= link_to "Styles",  styles_path %></li>
		  <li class="round"><%= link_to "New Styles", newstyle_path %></li>
	    </ul>
		</li>
	</ul>
      </td>
	  </homenav>
	</tr>
  </table>
<% else %>
	<%= link_to "Sign in", signin_path, :class => "signup_button round" %><br />
	<%= link_to "New User", signup_path, :class => "signup_button round" %> 
<% end %>

