<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
		<h1>D&amp;A Apparel</h1>
        <ul>
	      <li><%= link_to "Companies", companies_path %></li>
	      <li><%= link_to "New Company", newcompany_path %></li>
		  <li><%= link_to "Folders", folders_path %></li>
		  <li><%= link_to "New Folder", newfolder_path %></li>
	      <li><%= link_to "Styles",  %></li>
		  <li><%= link_to "New Styles", %></li>
	    </ul>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
	<h1>D&amp;A Apparel</h1>
	<p>This is the home page for D&amp;A Apparel</p>

	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>

