<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :number %><br />
  <%= f.text_field :number %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :department %><br />
  <%= f.select :department, ['accessory', 'bottom', 'dress', 'outwear','top'], { :include_blank => true } %>
</div>
<div class="field">
  <%= f.label :classification %><br />
  <%= f.select :classification, ['Active', 'Basic', 'Denim', 'Fashion', 'Fashion Basic', 'Knit', 'Sweater', 'Swim', 'Woven'], { :include_blank => true } %>
</div>
<div class="field">
  <%= f.label :season %><br />
  <%= f.select :season, ['Fall', 'Winter', 'Spring', 'Summer'], { :include_blank => true } %>
</div>
<div class="field">
  <%= f.label :printed %><br />
  <%= f.check_box :printed %>
</div>
<div class="field">
  <%= f.label :embellished %><br />
  <%= f.check_box :embellished %>
</div>
<div class="field">
  <%= f.label :moq, "Minimum Order Quantity" %><br />
  <%= f.number_field :moq %>
</div>
<div class="fields">
	<%= f.label :photo %><br />
	<%= image_tag @style.photo.url(:small) %>
	<%= f.file_field :photo %><br />
</div>
