<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :contact %><br />
  <%= f.text_field :contact %>
</div>
<div class="field">
  <%= f.label :notes %><br />
  <%= f.text_area :notes, :cols => "10", :rows => "1" %>
</div>